* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  background: #636F79;
}

.modal--open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #F2F2F2;
  padding: 1em 2em;
  color: #333;
  border: 1px solid #626262;
  width: 20%;
}

.modal--open:hover {
  background: #f2f2f2;
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.modal--content {
  background: #f2f2f2;
  margin: 25vh auto;
  width: 70%;
  max-width: 500px;
  min-width: 200px;
  -webkit-box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
          box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  z-index: 5;
  -webkit-animation-name: modal-open;
          animation-name: modal-open;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

.modal--header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  color: #fff;
  padding: 20px 40px 0 40px;
}

.modal--header h2 {
  color: #203240;
}

.modal--main {
  color: #b3b3b3;
  font-size: 10px;
  padding: 20px 40px 20px 40px;
}

.modal--footer {
  border-top: 1px solid #C0C0C4;
  padding: 10px;
  text-align: center;
}

.modal--cancelBtn {
  font-weight: bold;
  font-size: 12px;
  font-style: italic;
  min-width: 160px;
  height: 30px;
  padding: 0.5em 2em;
  color: #626262;
  border: 1px solid #626262;
  border-radius: 3px;
}

.modal--cancelBtn:hover {
  background: #636F79;
  color: #f2f2f2;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.modal--continueBtn {
  background-color: #203240;
  font-weight: bold;
  font-size: 12px;
  min-width: 160px;
  height: 30px;
  font-style: italic;
  padding: 0.5em 2em;
  color: #fff;
  border: 1px solid #626262;
  border-radius: 3px;
}

.modal--continueBtn:hover {
  background: #636F79;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.modal--greenTick {
  width: 30px;
  height: 30px;
  padding-right: 10px;
}

@-webkit-keyframes modal-open {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes modal-open {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 480px) {
  .modal--open {
    width: 100%;
  }
  .modal--content {
    width: 100%;
  }
  .modal--footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 10px 40px;
  }
  .modal--cancelBtn {
    margin-bottom: 5px;
  }
}
/*# sourceMappingURL=main.css.map */